.formWrapper{
  @extend .flex;
  justify-content: center;
  background-color: $secondaryColor;
  font-size: 1.4rem;
  padding-top: 1.6rem;
}

.formGroup{
  @extend .flex;
  justify-content: center;
}

.formGroupRow{
  @extend .formGroup;
  flex-direction: row;
  align-self: center;
  @media(max-width: 645px){
    flex-direction: column;
  }
}

.formGroupCol{
  @extend .formGroup;
  flex-direction: column;

  label{
    text-align: center;
  }
}

.datePicker{
  width: 50%;
  align-self: center;
  padding: 1em;
}
.selectGroup{
  width: 100%;
  @extend .flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;


}

.selectGroup select{
  @extend .flex;
  justify-content: center;
  width: 90%;
  height: 40px;
  font-size: 1.2rem;
  margin: .5rem;
  margin-bottom: 1.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: .2rem;
  border: none;
  background: $offColor url("https://res.cloudinary.com/the-sage-mages/image/upload/v1554495097/jmroofing/arrowyel.png") no-repeat 100% center;
  background-size: contain;

}

.selectorServicesGroup{
  @extend .selectGroup;
  width: 25%;
  @media(max-width: 900px){
    width: 35%;
  }
  @media(max-width: 600px){
    width: 45%;
  }
  @media(max-width: 455px){
    width: 55%;
  }
  @media(max-width: 400px){
    width: 75%;
  }
}
.inputField{
  padding: .5rem;
  margin: .5em;
  font-size: 1.4rem;
}

.error{
  @extend .inputField;
  border: 1px solid red;
}
.inputField1{
  @extend .inputField;
  align-self: center;
  
}

.datePicker{
  @extend .inputField1;
  width: 100%;
  text-align: center;
}

textarea{
  margin-top: 1rem;
  width: 95%;
  margin: 1em auto;
  @media(max-width: 645px){
  width: 300px;
  margin: 0 auto;
  }
}
label{
  font-size: 1.2rem;
  text-align: center;
}

.option{
  background-color: #fff;
  font-size: 1.4rem;
}

input{
  @media(max-width: 645px){
    &::placeholder{
      text-align: center;
    }
  }
}