@import '../src/global_css/flexbox.scss';
@import '../src/global_css/reset.scss';
@import '../src/global_css/styles.scss';
@import '../src/components/boxes/box.scss';
@import '../src/components/button/button.scss';
@import '../src/components/footer/footer.scss';
@import '../src/components/landing/lander.scss';
@import '../src/components/boxes/box.scss';
@import '../src/components/navigation/navigation.scss';
@import '../src/views/Contact/form.scss';
@import '../src/views/Services/services.scss';

html{
  font-family: $siteFont;
}

body{
  font-size: 10px;
  background-color: $primaryColor;
  overflow-x: hidden;
}
 
a{
  text-decoration: none;
  color: $offColor;
  &:active{
    color: $accentColor;
  }
  &:visited{
    color: $offColor;
  }
}

.thinText{
  font-weight: 200;
  font-size: 1.8rem;
  @media(max-width: 402px){
    font-size: 1.5rem;
  }
}

.error{
  color: red;
}

