.navBox{
  position: sticky;
  top: 0;
  color: $offColor;
  background-color: $primaryColor;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.4rem;
  z-index: 3;
  
  h1{
    align-self: center;
    margin-left: 2rem;
  }
  ul{
    @extend .flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 3rem;
  }

  li{
    &:hover{
      color: $accentColor;
      cursor: pointer;
    }
  }
}

.navChild{
  margin: 0 3rem;
 
}