.navBox{
  position: sticky;
  top: 0;
  color: $offColor;
  background-color: $primaryColor;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.4rem;
  

  h1{
    align-self: center;
    margin-left: 2rem;
  }
  ul{
    @extend .flex;
    flex-direction: row;
    align-self: center;
    list-style-type: none;
  }

  li{
    &:hover{
      color: $accentColor;
      cursor: pointer;
    }
    &:nth-child(2){
      margin: 0 3rem;
     
    }
    &:last-child{
      margin-right: 2rem;
    }
  }

}