.navBox{
  position: sticky;
  top: 0;
  color: $offColor;
  background-color: $primaryColor;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.4rem;
  z-index: 3;

  h1{
    align-self: center;
    margin-left: 2rem;
    @media(max-width: 599px){
      margin-left: 0;
    }
  }
  ul{
    @extend .flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 3rem;
    @media(max-width: 599px){
       flex-direction: column;
       justify-content: flex-end;
       margin-right: 0;
    }
  }

  li{
    &:hover{
      color: $accentColor;
      cursor: pointer;
    }
  }
}


.mobileNav{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.navChild{
  margin: 0 3rem;
 
}

.hiddenNav{
  display: none;
}