.gridWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: .5rem;
  color: #fff;
  font-size: 1.4rem;
}



.gridItem{
  background-color:  orange;
  display: flex;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 1rem;
}

//grid css for jmroofing
.topLeftGridPanel{
  @extend .gridItem;
  padding: 2rem;
}

.col{
  flex-direction: column;
}

.topMidGridPanel{
  @extend .gridItem;

}

.topRightGridPanel{
  @extend .gridItem;
}