$primaryColor: #303839;
$secondaryColor: #97a6a4;
$offColor: #f4f5f0;
$secondaryOffColor: #b9bfb1;
$accentColor: #dfaf42;
$siteFont: Lato, sans-serif;

.hyperline{
  color: $accentColor;
  text-decoration: none;
}