.transButton{
  @extend .flex;
  max-width: 300px;
  width: 300px;
  justify-content: center;
  background: transparent;
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  @media(max-width: 768px){
    width: 200px;
    font-size: 1rem;
  }
}

.heroButton{
@extend .transButton;
color: $primaryColor;
border: 3px solid $primaryColor;
justify-content: space-around;
margin: 0 1rem 1rem;
@media (max-width: 600px) {
  display: block;
  width: 100%;
  margin: 1rem auto;
   }
&:hover{
  border: 3px solid $offColor;
  background-color: $primaryColor;
  color: $offColor;
}
}

.infoButton{
  @extend .transButton;
  border: 3px solid $offColor;
  color: $offColor;
  margin: 1rem 0;
  &:hover{
   border: 3px solid $offColor ;
  background-color: $offColor;
  color: $primaryColor;
  a{
    color: $primaryColor;
  }
  }
}

.submitButton{
  @extend .heroButton;
  margin: 2rem 0 3rem;
  @media(max-width: 645px){
    justify-content: center;
    margin: 2rem auto 3rem auto;
  }
}

.buttonRow{
  @extend .flex;
  justify-content: center;
  @media (max-width: 600px) {
    display: block;
   
     }
}

.calloutButton{
  @extend .infoButton;
  background-color: $calloutColor;
  &:first-child(){
    margin-right: 2em;
    @media (max-width: 600px) {
      margin-right: 0;
       }
  }
}

.calloutButton1{
  @extend .calloutButton;
  background: transparent;
  @media(max-width: 768px){
    width: 300px;

  }
  &:first-child{
    margin-right: 0
  }
}
