.serviceSection{
  background-color: $offColor;
  padding-bottom: 2rem;
}
.serviceLander{
  @extend .flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-image: url('https://res.cloudinary.com/the-sage-mages/image/upload/v1554313085/jmroofing/4Services.png');
h1{
  font-size: 1.6rem;
  color: $offColor;
  margin-bottom: 1rem;
  @media(max-width: 768px){
    text-align: center;
  }
  @media(max-width: 600px){
   margin: 0 2rem 2rem;
  }
}
}

.imgCell{
 @extend .flex;
 flex-direction: column;
 justify-content: center;
}

.thumbnails{
  max-width: 250px;
  height: 200px;
  width: 100%;
  margin: 1rem;
}

.typeHeader{
  font-size: 3.3rem;
  margin: 2rem 0;
  text-align: center;
  color: $primaryColor;
}

.serviceCopy{
  padding: 1em;
  margin: 2rem 25%;
  font-size: 2.1rem;
  text-align: justify;
  &::before{
    content: "'";
    font-size: 3rem;
    color: gray;
    opacity: .6;
  }
  &::after{
    content: "'";
    color: gray;
    opacity: .6;
  }
}