.contentBox{
  width: 50%;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 700px) {
    width: 100%;
  }
}

.contentHat{
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.contentBigBox{
  @extend .contentBox;
  width: 100%;
}

.contentBigBoxCallout{
  @extend .contentBox;
  width: 100%;
  background-color: $calloutColor;
  height: 450px;
}

.contentBigBoxCalloutService{
  @extend .contentBigBoxCallout;
  background-color: $secondaryOffColor;
  h1{
    color: $offColor;
  }
  p{
    margin: -1rem 0 3rem 0;
    font-size: 1.2rem;
  }
}

.contentBigBoxTest{
  @extend .contentBigBox;
  height: 500px;
  background-color: $offColor;
  font-size: 1.6rem;
  .quote{
   font-size: 1.4rem;
   text-align: center;
   text-emphasis: after;
   margin: 0 5em;
  }
  .byWho{
    margin-top: 1em;
    color: $secondaryOffColor;
  }
}

.contentBigBoxFooter{
  @extend .contentBox;
  width: 100%;
  height: 500px;
}

.contentHero{
  @extend .contentBigBox;
  height: 700px;
  background-image: url('https://res.cloudinary.com/the-sage-mages/image/upload/v1554313086/jmroofing/1landingroof.png');
  background-size: cover; 
  text-align: center;
}

.contentTag{
  margin: 1rem 0 3rem;
  font-size: 1.4rem;
}

.contentFooter{
  @extend .contentBigBox;
  height: 200px;
 
}
.contentRow{
  display: flex;
  flex-direction: row;
  @media (max-width: 700px) {
    flex-direction: column;
    width: 100%;
  }
}

.contentRowThumbNails{
  @extend .contentRow;
  justify-content: center;
}

.footerRow{
  @extend .contentRow;
  font-size: 1.2rem;
  width: 50%;
  align-items: center;
  justify-content: space-around;
  color: $offColor;
}

.infoRow{
  @extend .footerRow;
  margin-top: 19rem;
  font-size: 1rem;
}

.heroHeader{
  font-size: 4rem;
}
.contentHeader{
  font-size: 2.2rem;
}
.contentHeaderWhite{
  font-size: 2.6rem;
  margin-bottom: 1em;
  color: $offColor;
}

.blueBox{
  @extend .contentBox;
  background-color: $secondaryColor;
}

.aboutBox{
  @extend .contentBox;
  background-image: url('https://res.cloudinary.com/the-sage-mages/image/upload/v1554395088/jmroofing/jnm.jpg');
  background-size: cover;
}

.greenBox{
  @extend .contentBox;
  background-color: $secondaryOffColor;
}

.whiteBox{
  @extend .contentBox;
  background-color: $offColor;
}
.bgCell1{
  @extend .contentBox;
  background-image: url('https://res.cloudinary.com/the-sage-mages/image/upload/v1554313084/jmroofing/2landingservice.png');
}
.bgCell2{
  @extend .contentBox;
  background-image: url('https://res.cloudinary.com/the-sage-mages/image/upload/v1554313086/jmroofing/3landingskylight.png');
}

.primary{
  color: $primaryColor;
  &:hover{
    color: $offColor;
  }
}